@import "utilidades/variables";
@import "utilidades/contacto";
@import "utilidades/listas";
@import "utilidades/mixin";
@import "utilidades/extend";
// nesting
.dual{
    @include flex;
    min-height: 70px;
    .juguemos{
        width: 80px;
        height: 70px;
        border-radius: 10px;
        background-color: black;
        @include medidas(80px,70px,whitesmoke);
     }
     .juana{
       @extend %bordes;
    }

    .barco{
        color: nth($listas-colores, 1 );
        border-radius: 5px;
        padding: 3px;
        margin: 20px;
        background-color: $color-principal;
        align-items: center;    
        text-align: center;
        text-decoration: none;
    }
}
.bell{
    margin: 0 30px;
    height: 70vh;
    display: grid;
    grid-template-rows: 25% 25% 25% ;
    grid-template-columns: 1fr ; 
    align-content: center;
    row-gap: 20px;
    
    .bell div img{
        /* width:  es el ancho; */
         width: 100%;
         /* height: ;es el alto */
        height: 100%;
        /* object-fit: cover;  para que se adapte ala pantalla */
        }  
 /* estilos de main */
    main .img-dos, main .img-cinco{
    display: none;
 }
 }
 .toper{
    background-color: $color-principal;
    color: nth($listas-colores, 1 );
    border-radius: 9px;
    padding: 7px;
    align-items: center;
    text-align: center;

   &:hover{
    background-color: palevioletred;
    color: $color-principal;
}

}
.hierro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .duran{
        width: 50%;
    }
    .duran ul{
        display: flex;
        justify-content: space-between;
    }
}
.bay{
    background-color:$color-principal;
    text-align: center;
    align-items: center;

    &:hover{
        background-color: $color-principal;
    }
}


/* acordion juegos */
.card-text{
    background-color: $color-principal;
    color: nth($listas-colores, 1 );
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}
.card-text:hover{
  color: $color-secundario;
}

.dual .ferrere{
    display: flex;

    justify-content: space-between;   
}
.dual li{
    list-style: none;
}
h6{
    text-align: center;
    align-items: center;
}

.barci{
    color: nth($listas-colores, 1 );
    border-radius: 3px;
    padding: 2px;
    margin: 10px;
    align-items: center;
    text-align: center;
    background-color: $color-principal;

    &:hover{
        background-color: black;
        color: $color-secundario;
    }
}


.oka{
    display: flex;
    flex-direction: row;  
}
.noni{
    background-color: $color-principal;
    display: flex;
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    color: nth($listas-colores, 1 );
    
    &:hover{
        color: $color-secundario
    }
}

.tuto{
    background-color: $color-principal;
    color: nth($listas-colores, 1 );
    display: flex;
    display: block;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;

    &:hover{
        color: $color-secundario;
    }
}
.zombie{
    width:480px;
    margin-left: 5px;
}


.pantalla{
    text-align: center;
    color: nth($listas-colores, 1 );
    border-radius: 3px;
    padding: 9px;
    background-color: rgb(0, 0, 0); 
    display: inline-block;

    &:hover{
        background-color: $color-principal;
        color: $color-secundario;
    }
}


/* family.html */
/* el header tiene las mismas clases todos */


.jaja{
    text-align: center;
    background-color: $color-principal;
    border-radius: 3px;
    color: nth($listas-colores, 1 );
    padding: 9px;
    margin: 15px;

    &:hover{
        background-color: rgb(219, 69, 219);
        color: nth($listas-colores, 1 );
    }
}


.barca{
    background-color: $color-principal;
    color: nth($listas-colores, 1 );
    border-radius: 3px;
    padding: 2px;
    margin: 5px;
    text-decoration: none;

    &:hover{
        background-color: rgb(219, 69, 219);
        color: white; 
    } 
}

.kag{
    display: flex;
    flex-direction: row;
    
}

/* formulario.html */
.lara{
    color: nth($listas-colores, 1 );
    border-radius: 5px;
    padding: 3px;
    margin: 20px;
    background-color: $color-principal;
    align-items: center; 

    &:hover{
        background-color: $color-principal;
        color: $color-secundario;
    }
}



.form-label{
    color: nth($listas-colores, 1 );
}
.img-cinco{
    height: 200px;
   
}


/* ps2 */


.gaga{
 
    text-align: center; 
}
.rouser{
    text-align: center;
    color: nth($listas-colores, 1 );
    background-color: black;

    &:hover{
        background-color: violet;
        color: nth($listas-colores, 4 );
    }
}

.pao {
    @include medidas(400px,300px, white);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;

}

.una{
    color: white;
    border-radius: 3px;
    padding: 9px;
    margin: 30px;
    background-color: black;
    text-align: center;

    &:hover{
        background-color: violet;
        color: nth($listas-colores, 4 );
    }
}

.station{
    color: nth($listas-colores, 1 );
    border-radius: 3px;
    padding: 9px;
    margin: 30px;
    background-color: black;
    text-align: center;

    &:hover{
        background-color: violet;
        color: nth($listas-colores, 4 );
    }
}


.tere{
    color: white;
    border-radius: 3px;
    padding: 2px;
    align-items: center;
    background-color: black;
    text-align: center;

    &:hover{
        background-color: violet;
        color: nth($listas-colores, 4 );
    }
}
.ps4{

display: flex;
justify-content: space-evenly;
list-style: none;
}



.tutorial{
    margin: 20px;
     text-align: center;
     display: flex;
     justify-content: space-evenly;
 }

 .logo-ps2{
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;

}



/* sega */

.leña{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.savin-me{
    margin-top: 20px;
    width: 50%;

}

.pc{
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 20px;
    background-color: black;
    align-items: center;   
    text-align: center;

    &:hover{
        background-color: violet;
        color: whitesmoke;
    }
}


.sub{
    color: white;
    border-radius: 3px;
    padding: 9px;
    margin: 30px;
    background-color: black;

    &:hover{
        background-color: violet;
        color: white;
    }
}


.lolo{
    color: white;
    border-radius: 3px;
    padding: 9px;
    margin: 30px;
    background-color: black;
    text-align: center;

    &:hover{
        background-color: violet;
        color: whitesmoke;
    }
}

/* body de mis html */

#teclado{
    background-image: url(../imagenes/fondo.png);
    overflow-x: hidden;
}
#mouse{
    background-image: url(../imagenes/fondo-sega2.jpg);  
    overflow-x: hidden; 
}
.ps5{
    background-image: url(../imagenes/fondo.png);
    overflow-x: hidden;
}
.ps2{
   background-image: url(../imagenes/fondo-ps4.webp);
   overflow-x: hidden;
}
.formulario{
    background-image: url(../imagenes/minecraf-juego.webp);
    overflow-x: hidden;
}

.tete{
    background-color: blueviolet;
}
.barco:hover{
    color: yellow;
}
.cinta{
    list-style: none;
    color: blueviolet;
}
h1{
    text-align: center;
    align-items: center;
}
main nav ul{
    list-style: none;
}
nav ol{
    list-style: none;
}
footer a{
    color: white;
}





h2{
    text-align: center;
    align-items: center;
}



.card-text{
  color: white;
}

ol li{
    display: flex;
    display: inline-block;
}
.ser{
    color: white;
    background-color: maroon;
    display: flex;
}



a{
    text-decoration: none;
}
/* footer */
.bay{
    background-color: rgb(0, 0, 0);
    text-align: center;

    &:hover{
        background-color: black;
    }
    
}


/* carrousel */
.animated{
    margin-top: 5px;
}
.animated img{
    height: 45vh;
}

.card{
    display: flex;
    display: inline;
    margin: auto;
}
.card-body{
text-align: center;
align-items: center;
}
     
 .accordion-button{
    background-color: black;
    color: whitesmoke;
 }
 .accordion-item{
    background-color: black;
    color: whitesmoke;
 }
   
/* estilos,mobile,tablet y pc para formulario */
/* estilos generales mobile  */
 

 
 
 
 footer{
    color: whitesmoke;
    text-align: center;}

 /* mq tablet */
@media screen and (min-width:768px ) {
    /* desntro del media querin ponemos los codigos css que queremos modificar */
    *{
        margin: 0%;
        padding: 0%;
    }
    .formulario{
        background-image: url(../imagenes/super-mario-bros-fondo.jpg);


    }
    
    .bell{
        grid-template-columns: repeat(2,1fr) ;
        grid-template-columns: repeat(2,40%) ;
        height: 150vh;

        column-gap: 20px;
    }
    .bell .img-cuatro{
        grid-column: span 2;
    }
}
    

/* mq desktop */
@media screen  and (min-width:1024px) {
    .formulario{
        background-image: url(../imagenes/fondo-ps4.webp);
    }
    .bell .img-dos, main .img-cinco{
        display: block;
    }
    .bell{
       grid-template-columns: repeat(3, 1fr) ;
       grid-template-rows: 35% 35% 15% ; 
    }
    .bell .img-uno, .bell .img-tres{
        grid-row: span 2;
    }
    .bell .img-dos, .bell .img-cuatro{
        grid-column: span 1;
    }
    .bell .img-cinco{
        grid-column: span 3;
    }
}
.loli{
    text-align: center;
}
.lara{
    font-size: 20px;
}


/* vercion mobile,tablet y pc para index.html */
 /* version mobile para index.html */
 .toper{
    margin-right: 70px;
 }
 main .img-dos, main .img-cinco{
    display: none;
 }
 .bell div img{
    /* width:  es el ancho; */
     width: 100%;
     /* height: ;es el alto */
    height: 100%;
    /* object-fit: cover;  para que se adapte ala pantalla */
    }
 
 .bell{
    margin: 0px 30px;
    height: 150vh;
    display: grid;
    grid-template-rows: 25% 25% 25% ;
    grid-template-columns: 1fr ; 
    align-content: center;
    row-gap: 20px;
 }
 footer{
    color: whitesmoke;
    text-align: center;}
 /* version para tablet */
 @media screen and (min-width:768px ) {
    /* desntro del media querin ponemos los codigos css que queremos modificar */
    #teclado{
        background-image: url(../imagenes/fondo-ps4.webp);
    }
    .bell{
        grid-template-columns: repeat(2,1fr) ;
        grid-template-columns: repeat(2,40%) ;
        /* column-gap: 20px; */
        margin: 0px 30px;
        height: 70vh;
        display: grid;
        grid-template-rows: 25% 25% 25% ;
        grid-template-columns: 1fr ; 
        align-content: center;
        row-gap: 20px;
    }
    .bell .img-cuatro{
        grid-column: span 2;
        height: 400px;
    }
    .bell .img-uno{
        grid-column: span 1;
        width: 430px;

    }
    .card-img-top{
        width: 800px;
        height: 300px;
        border-radius: 1%;
        
        
    }
   
    .card{
        margin-left: 20px;
       }
       /* #accordionExample{
        margin: 0% 30px 30px 30px;
    } */
    .card-text{
        background-color: black;
        color: whitesmoke;
       text-align: center;
        margin: 20px;
        padding: 10px;
        border-radius: 15px;
    }
    .card-text:hover{
      color: yellow;
    }
    .toper{
        background-color: rgb(0, 0, 0);
        color: whitesmoke;
        border-radius: 9px;
        padding: 7px;
        text-align: center;
        align-items: center;
    }
    .toper:hover{
        background-color: palevioletred;
        color: black;
    }
    
    
}
/* mq desktop */
@media screen  and (min-width:1024px) {
    #teclado{
        background-image: url(../imagenes/fondo.png);
    }
    .bell .img-dos, main .img-cinco{
        display: block;
    }
    .bell{
       grid-template-columns: repeat(3, 1fr) ;
       grid-template-rows: 35% 35% 15% ; 
       height: 150vh;
    }
    .bell .img-uno, .bell .img-tres{
        grid-row: span 2;
    }
    .bell .img-dos, .bell .img-cuatro{
        grid-column: span 1;
    }
    .bell .img-cinco{
        grid-column: span 3;
    }
    #accordionExample{
        margin: 100px 30px 30px 30px;
    }
  
   .card-text{
    background-color: black;
    color: whitesmoke;
   text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}
.card-text:hover{
  color: yellow;
}
.toper{
    background-color: black;
    color: whitesmoke;
    border-radius: 9px;
    padding: 7px;
    text-align: center;
    align-items: center;
    margin-left: 60px;
}
.toper:hover{
    background-color: palevioletred;
    color: black;
}
.card{
    text-align: center;
    align-items: center;
}

}

/* vercion tablet para family*/
@media screen and (min-width:768px ){
    .ps5{
        background-image: url(../imagenes/minecraf-juego.webp);
    }
    .pao{
        margin-left: 100px;
        width: 80%;
    }
}
/* mq desktop */
@media screen  and (min-width:1024px){
    .ps5{
        background-image: url(../imagenes/fondo.png);
        
    }
    
   

}
/* version tablet y pc para ps2 */
/* version para tablet */
@media screen and (min-width:768px ){
    .ps2{
        background-image: url(../imagenes/fondo.png);

    }
    .bell{
        grid-template-columns: repeat(2,1fr) ;
        grid-template-columns: repeat(2,40%) ;
        /* column-gap: 20px; */
        margin: 0px 30px;
        height: 100vh;
        display: grid;
        grid-template-rows: 25% 25% 25% ;
        grid-template-columns: 1fr ; 
        align-content: center;
        row-gap: 20px;
    }
    .bell .img-cuatro{
        grid-column: span 2;
        height: 400px;
    }
    .bell .img-uno{
        grid-column: span 1;
        width: 430px;

    }
    .zombie{
        width:750px;
        height: 300px;
        margin-left: 30px;
        
    }
    .toper{
        margin-right: 30px;
        font-size: 30px;
    }
    .card-text{
        font-size: 30px;
    }
    .tere{
        font-size: 20px;
    }
    .hy{
        font-size: 60px;
    }
}
/* version pc para ps2 */
@media screen  and (min-width:1024px){
    .ps2{
        background-image: url(../imagenes/super-mario-bros-fondo.jpg);
    }
    .bell .img-dos, main .img-cinco{
        display: block;
    }
    .bell{
       grid-template-columns: repeat(3, 1fr) ;
       grid-template-rows: 35% 35% 15% ; 
       height: 150vh;
    }
    .bell .img-uno, .bell .img-tres{
        grid-row: span 2;
    }
    .bell .img-dos, .bell .img-cuatro{
        grid-column: span 1;
    }
    .bell .img-cinco{
        grid-column: span 3;
    }
    #accordionExample{
        margin: 100px 30px 30px 30px;
    }
    .zombie{
        width:980px;
        margin-left: 60px;
    }
}
/* version tablet y pc para sega */
/* version para tablet */
@media screen and (min-width:768px ){
    #mouse{
        background-image: url(../imagenes/aaron.jpg);

    }
    .bell{
        grid-template-columns: repeat(2,1fr) ;
        grid-template-columns: repeat(2,40%) ;
        /* column-gap: 20px; */
        margin: 0px 30px;
        height: 100vh;
        display: grid;
        grid-template-rows: 25% 25% 25% ;
        grid-template-columns: 1fr ; 
        align-content: center;
        row-gap: 20px;
    }
    .bell .img-cuatro{
        grid-column: span 2;
        height: 400px;
    }
    .bell .img-uno{
        grid-column: span 1;
        width: 430px;

    }
}
/* version pc para ps2 */
@media screen  and (min-width:1024px){
    #mouse{
        background-image: url(../imagenes/fondo-ps3.jpg);
    }
    .bell .img-dos, main .img-cinco{
        display: block;
    }
    .bell{
       grid-template-columns: repeat(3, 1fr) ;
       grid-template-rows: 35% 35% 15% ; 
       height: 150vh;
    }
    .bell .img-uno, .bell .img-tres{
        grid-row: span 2;
    }
    .bell .img-dos, .bell .img-cuatro{
        grid-column: span 1;
    }
    .bell .img-cinco{
        grid-column: span 3;
    }
    #accordionExample{
        margin: 100px 30px 30px 30px;
    }
}
*{
    border: solid 2px blue;
}
